body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 3s;
        /* 
        поведение
        animation-timing-function: ease-in-out;
    
        повторит 3 раза
        animation-iteration-count: 3;
    
        задержка перед анимацией
        animation-delay: 3s;
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.64rem;
        animation: moveInRight 1s ease-out;
    }
    
}